{{define "blood_readings"}}
<div class="panel panel-default">
    <div class="panel-heading">{{.BloodHeading}}</div>
    <div class="panel-body">
        {{if .Readings}}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">SYS</th>
                            <th class="text-center">DIA</th>
                            <th class="text-center">Pulse</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Severity</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Readings}}
                            <tr>
                                <td class="text-center">{{.Systolic}}</td>
                                <td class="text-center">{{.Diastolic}}</td>
                                <td class="text-center">{{.Pulse}}</td>
                                <td class="text-center">{{.Date}}</td>
                                <td class="text-center text-{{.Severity.Class}}">
                                    {{.Severity.Text}}
                                </td>
                                <td class="text-center">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="View reading details">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit reading">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Delete reading" data-confirm="confirm" data-message="Are you sure you wish to delete this reading?">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="alert alert-warning">
                There are no blood pressure readings.
            </div>
        {{end}}
    </div>
</div>
{{end}}
