{{define "weight_entries"}}
<div class="panel panel-default">
    <div class="panel-heading">{{.WeightHeading}}</div>
    <div class="panel-body">
        {{if .Entries}}
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Weight</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Entries}}
                            <tr>
                                <td class="text-center">{{.Weight}} lbs</td>
                                <td class="text-center">{{.Date}}</td>
                                <td class="text-center">
                                    <a href="/weight/edit/{{.Id}}" data-toggle="tooltip" data-placement="top" title="Edit weight">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a href="/weight/delete/{{.Id}}" data-toggle="tooltip" data-placement="top" title="Delete weight" data-confirm="confirm" data-message="Are you sure you wish to delete this weight entry?">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="alert alert-warning">
                There are no weight entries.
            </div>
        {{end}}
    </div>
</div>
{{end}}
