{{define "content"}}
{{template "nav"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{/*include flash messages*/}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Blood readings</p>
            {{/*include blood readings*/}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Weight entries</p>
            {{/*include weight entries*/}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Consumed Food</div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        There are no consumed food entries.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .LayoutData}}
</div>
{{end}}
